nav{
  margin-top: 90vh;
  width: 100vw;
  height: 100vh;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
}


ul{
  gap:10rem;
  margin: 10px;
  justify-content: space-evenly;
}
li{
  padding-top: 0.5rem;
  transition: 500ms;
  transform: scale(2.1);
}

li:hover{
  transition: 500ms;
  transform: scale(1.9);
}