nav {
  margin-top: 85vh;
  width: 100vw;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}


ul {
  gap: 10rem;
  margin: 10px;

  justify-content: space-evenly;
}

li {
  padding-top: 0.5rem;
  transition: 500ms;
  transform: scale(2.1);
}

li:hover {
  transition: 500ms;
  transform: scale(1.9);
}

#video-container{
  width:800px;
  height:800px;
  background-image: url("https://media2.giphy.com/media/hfLeOCKIYbRrW/giphy.gif?cid=ecf05e47ufsizm70j75202v8q2n9xz1kt2q4aa5q9ihb1jhd&ep=v1_gifs_search&rid=giphy.gif&ct=g"); 
  background-size:cover;
}

#options{
  margin-top:23vh;
  margin-left:90vw;
}


.like, .share, .comment{
  
}